# Pandas

In [2]:
# 예제
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv')
df

                     time  이화동강수  이화동기온  수영동강수  수영동기온
0     2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1     2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2     2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3     2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4     2020-01-01 04:00:00    0.0   -0.1    0.0    5.1
...                   ...    ...    ...    ...    ...
8779  2020-12-31 19:00:00    0.0   -9.5    0.0   -4.5
8780  2020-12-31 20:00:00    0.0   -9.5    0.0   -5.0
8781  2020-12-31 21:00:00    0.0   -9.3    0.0   -6.5
8782  2020-12-31 22:00:00    0.0   -9.2    0.0   -4.6
8783  2020-12-31 23:00:00    0.0   -7.8    0.0   -0.2

[8784 rows x 5 columns]

## 데이터프레임 일반

### 데이터프레임 선택

In [ ]:
# 데이터프레임 칼럼명으로 선택
df['time']

# 객체 attribute 명으로 선택
df.time

### 조건에 맞는 데이터프레임 선택

In [ ]:
# loc 사용
df.loc[df.time.to_datetime(]

## 데이터 타입