In [2]:
import pandas
import random

In [4]:
ran = random.randint(0, 10)
ran

7

In [5]:
df = pandas.DataFrame()

In [16]:
import pandas as pd
import random

ls_list = []

for i in range(5):
    ls = []
    for j in range(3):
        ls.append(random.randint(0, 10))
    ls_list.append(ls)

print(ls_list)


df = pd.DataFrame(data = ls_list, index = ["첫번째","두번째","세번째","네번째","다섯번째"],
                 columns=["1열","2열","3열"],
                 dtype=float,
                 copy=)
print(df)

[[9, 10, 5], [5, 7, 3], [9, 6, 0], [2, 10, 1], [4, 9, 1]]
       1열    2열   3열
첫번째   9.0  10.0  5.0
두번째   5.0   7.0  3.0
세번째   9.0   6.0  0.0
네번째   2.0  10.0  1.0
다섯번째  4.0   9.0  1.0

In [23]:
ls_list = [[9, 10, 5], [5, 7, 3], [9, 6, 0]]

df_copy = pd.DataFrame(ls_list, copy=True)
df_nocopy = pd.DataFrame(ls_list, copy=False)

ls_list[0][0] = 1000
print(ls_list)

print(df_copy)
print(df_nocopy)

[[1000, 10, 5], [5, 7, 3], [9, 6, 0]]
   0   1  2
0  9  10  5
1  5   7  3
2  9   6  0
   0   1  2
0  9  10  5
1  5   7  3
2  9   6  0

In [3]:
import pandas as pd
import numpy as np

arr = np.random.randint(10, size=(2, 2))

df_nocopy = pd.DataFrame(arr, copy=False)
df_copy = pd.DataFrame(arr, copy=True)
df_default = pd.DataFrame(arr)

arr[0,0] = 1000
print(df_nocopy)
print(df_copy)
print(df_default)

      0  1
0  1000  6
1     0  0
   0  1
0  0  6
1  0  0
      0  1
0  1000  6
1     0  0

In [80]:
import pandas as pd

path = "./car.xlsx"
df = pd.read_excel(path)

print(df.index)
print(df.columns)
print(df.values)
print(df.keys)

RangeIndex(start=0, stop=7, step=1)
Index(['번호', '자동차명', '연비', '가격', '판매량'], dtype='object')
[[1 '1번자동차' 15 1500 900]
 [2 '2번자동차' 14 2100 800]
 [3 '3번자동차' 2 3500 100]
 [4 '4번자동차' 8 2000 200]
 [5 '5번자동차' 8 1200 100]
 [6 '6번자동차' 5 1000 300]
 [7 '7번자동차' 10 1100 400]]
<bound method NDFrame.keys of    번호   자동차명  연비    가격  판매량
0   1  1번자동차  15  1500  900
1   2  2번자동차  14  2100  800
2   3  3번자동차   2  3500  100
3   4  4번자동차   8  2000  200
4   5  5번자동차   8  1200  100
5   6  6번자동차   5  1000  300
6   7  7번자동차  10  1100  400>

In [92]:
tt = df.items()

for t in tt:
    print(t)

('번호', 0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: 번호, dtype: int64)
('자동차명', 0    1번자동차
1    2번자동차
2    3번자동차
3    4번자동차
4    5번자동차
5    6번자동차
6    7번자동차
Name: 자동차명, dtype: object)
('연비', 0    15
1    14
2     2
3     8
4     8
5     5
6    10
Name: 연비, dtype: int64)
('가격', 0    1500
1    2100
2    3500
3    2000
4    1200
5    1000
6    1100
Name: 가격, dtype: int64)
('판매량', 0    900
1    800
2    100
3    200
4    100
5    300
6    400
Name: 판매량, dtype: int64)

In [3]:
print(df.head(2))
print(df.tail(2))
print(df.sample(2))

   번호   자동차명  연비    가격  판매량
0   1  1번자동차  15  1500  900
1   2  2번자동차  14  2100  800
   번호   자동차명  연비    가격  판매량
5   6  6번자동차   5  1000  300
6   7  7번자동차  10  1100  400
   번호   자동차명  연비    가격  판매량
6   7  7번자동차  10  1100  400
4   5  5번자동차   8  1200  100

In [12]:
import pandas as pd

path = "./car_export"

df.to_csv(path + ".csv")
df.to_excel(path + ".xlsx")
df.to_json(path + ".json")

In [23]:
import pandas as pd

path = "./car.xlsx"
df = pd.read_excel(path)

print(df["가격"])
print(df[["가격", "판매량"]])
print(df.loc[0])
print(df.loc[0:2])
print(df.iloc[0])
print(df.iloc[0:2])
print(df[df["판매량"] == 100])

0    1500
1    2100
2    3500
3    2000
4    1200
5    1000
6    1100
Name: 가격, dtype: int64
     가격  판매량
0  1500  900
1  2100  800
2  3500  100
3  2000  200
4  1200  100
5  1000  300
6  1100  400
번호          1
자동차명    1번자동차
연비         15
가격       1500
판매량       900
Name: 0, dtype: object
   번호   자동차명  연비    가격  판매량
0   1  1번자동차  15  1500  900
1   2  2번자동차  14  2100  800
2   3  3번자동차   2  3500  100
번호          1
자동차명    1번자동차
연비         15
가격       1500
판매량       900
Name: 0, dtype: object
   번호   자동차명  연비    가격  판매량
0   1  1번자동차  15  1500  900
1   2  2번자동차  14  2100  800
   번호   자동차명  연비    가격  판매량
2   3  3번자동차   2  3500  100
4   5  5번자동차   8  1200  100

In [47]:
import pandas as pd
import numpy as np

ls_columns = ["1번열", "2번열", "3번열", "4번열"]
ls_indices = ["1번", "2번", "3번", "4번", "5번"]
value_arry = [[7, 0, 0, 1], [1, 7, 4, 7], [0, 9, 6, 0], [3, 0, 7, 1], [5, 4, 1, 5]]

df = pd.DataFrame(value_arry, columns = ls_columns, index = ls_indices, copy = True)
print(df)
print("===============\n\n\n")

print(df[df["2번열"] > 5])
print(df.loc["1번"] == 0)

    1번열  2번열  3번열  4번열
1번    7    0    0    1
2번    1    7    4    7
3번    0    9    6    0
4번    3    0    7    1
5번    5    4    1    5
===============



    1번열  2번열  3번열  4번열
2번    1    7    4    7
3번    0    9    6    0
1번열    False
2번열     True
3번열     True
4번열    False
Name: 1번, dtype: bool

In [53]:
import pandas as pd
import numpy as np

ls_columns = ["1번열", "2번열", "3번열", "4번열"]
ls_indices = ["1번", "2번", "3번", "4번", "5번"]
value_arry = [[7, 0, 0, 1], [1, 7, 4, 7], [0, 9, 6, 0], [3, 0, 7, 1], [5, 4, 1, 5]]

df = pd.DataFrame(value_arry, columns = ls_columns, index = ls_indices, copy = True)
print(df)

print(df.sum())
print(df["1번열"].sum())
print(df[df["2번열"] == 0].sum())

    1번열  2번열  3번열  4번열
1번    7    0    0    1
2번    1    7    4    7
3번    0    9    6    0
4번    3    0    7    1
5번    5    4    1    5
1번열    16
2번열    20
3번열    18
4번열    14
dtype: int64
16
1번열    10
2번열     0
3번열     7
4번열     2
dtype: int64

In [69]:
print(df.std())
print(df.var())
print(df.median())
print(df.quantile(0.25))

1번열    2.863564
2번열    4.062019
3번열    3.049590
4번열    3.033150
dtype: float64
1번열     8.2
2번열    16.5
3번열     9.3
4번열     9.2
dtype: float64
1번열    3.0
2번열    4.0
3번열    4.0
4번열    1.0
dtype: float64
1번열    1.0
2번열    0.0
3번열    1.0
4번열    1.0
Name: 0.25, dtype: float64

In [70]:
df.keys()

Index(['1번열', '2번열', '3번열', '4번열'], dtype='object')

In [72]:
df.values

array([[7, 0, 0, 1],
       [1, 7, 4, 7],
       [0, 9, 6, 0],
       [3, 0, 7, 1],
       [5, 4, 1, 5]])